<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>headerLinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main-menu -->
    <div class="container-fluid  main_menu">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto d-flex justify-content-center  align-items-center">
                        <figure>
                            <img src="images/404error.jpg" style="height: 400px;" alt="Shahzaib ur Rehman" class="img-fluid">
                        </figure>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main footer -->
    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{>bodyFooterLinks}}
  </body>
</html>