<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>headerLinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main-menu -->
    <div class="container-fluid  main_menu">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_menu_left">
                        <figure>
                            <img src="images/my.PNG" style="height: 500px;" alt="Shahzaib ur Rehman" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_menu_right">
                        <p>Wellcome to the Shahzaib Website</p>
                        <h1>I am a Node JS Developer</h1>
                        <a href="/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main footer -->
    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{>bodyFooterLinks}}
  </body>
</html>